* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.About-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(159, 159, 243, 0.144);
  width: 100%;
}
.About-Title {
  width: 100%;
  margin-top: 60px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about {
  font-size: 2.5rem;
  font-weight: 400;
}
.A {
  font-size: 50px;
  margin-right: 4px;
  color: #1efd00;
}
.about-line {
  width: 220px;
  height: 5px;
  background: #1efd00;
}
.About-txt-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
}
.About-txt {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.image {
  width: 600px;
  height: 400px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
