.expert {
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.expert .MenuTxt {
  margin-top: 50px;
}
.expert-line {
  position: absolute;
  top: 13.5%;
  left: 31.5%;
  height: 5px;
  justify-content: center;
  width: 500px;
  border: none;
  background: #1efd00;
}
.chef-box {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chef-card {
  text-align: center;
  width: 340px;
  margin: 50px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(168, 166, 166, 0.555);
  position: relative;
  transition: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.img {
  height: 400px;
  width: 285px;
  object-fit: cover;
}

.card-info {
  background-color: transparent;
  backdrop-filter: blur(15px);
  position: absolute;
  padding: 10px 10px 10px 10px;
  width: 285px;
  height: 35%;
  top: 100%;
  border-radius: 0px 0px 15px 15px;
  visibility: hidden;
  transition: 0.5s;
}

.chef-info h4 {
  color: #141010;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-info p {
  color: #141010;
  font-size: 18px;
  font-weight: 500;
}
.chef-card:hover .card-info {
  position: absolute;
  top: 58%;
  transition: 0.5s;
  visibility: visible;
}
.chef-name {
  padding-top: 15px;
  font-size: 1.5rem;
}
