@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  transition: 0.5s;
}
header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(253, 253, 253, 0.5);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 1;
}
.fa-utensils {
  display: flex;
}
.dot {
  margin-left: 5px;
  color: #1efd00;
  font-size: 2.5rem;
}
.logo1 {
  text-decoration: none;
  color: #000;
  margin: 0;
}
h1 {
  font-family: "Fleur De Leah", cursive;
  font-weight: 700;
}
h3 {
  margin: 0px 0px 0px 20px;
  font-weight: 400;
  cursor: pointer;
  font-size: 30px;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
i {
  display: flex;
  margin-right: 2px;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  margin-left: 5px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.nav-links:nth-last-child(1) {
  padding-right: 15px;
  color: wheat;
}
.nav-links a:hover {
  color: #1efd00;
  transition: 0.5s;
}
.nav-links a::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  height: 4px;
  width: 100%;
  z-index: 1;
  background-color: #1efd00;
  transform: translateX(-150%);
  transition: 0.3s ease;
}
.nav-links a:hover::after {
  transform-origin: center;
  transform: translateX(0);
}
.material-symbols-outlined {
  font-size: 25px;
  cursor: pointer;
  margin: 2px 2px 0px 0px;
}
.nav-links a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  margin-top: 8px;
}

.cartCount {
  padding: 0 5px;
  font-size: 13px;
  color: white;
  font-weight: 900;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: -0px;
  top: 0px;
}
